/* general app styling */
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family:Arial, Helvetica, sans-serif;
    
}

body {

    background-color: rgba(0, 0, 0, 0.926);
    color: white;
	
}

.main-app{

margin-left: 5%;
margin-right: 5%;
padding-bottom: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;






}
















