#navBar{
display: flex;
flex-direction: row;

justify-content: end;
padding-top: 40px;
font-size: 20px;
min-width:405px;

position: relative;





}


#navBar-item{

  margin-left: 3%;
  margin-right: 3%;
  cursor:pointer;
  

}

/* hover underline for nav bar 
from internet */

.hover-underline {
  
  color: #ffffff;
  position: relative;
  display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  background: linear-gradient(to right, #ff00e6, #00ffff);
  bottom: -30px;
  right: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

@media only screen and (max-width: 500px) {
  #navBar{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    font-size: 17px;
    
}

#navBar-item{
  margin-left: 0;
  margin-right: 0;
  
}



}