#ProjectsContainer-title{


    margin-top: 25px;
    

}




@media only screen and (max-width: 500px) {
  #ProjectsContainer-title{
   
    display: flex;
    flex-direction: row;
    justify-content: center;

}

}



