
.techStackContainer{


margin-top: 25px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
column-gap: 10px;
row-gap: 10px;
 width: 100%;
 

}


.techstack-card{

display: flex;
flex-direction: row;
justify-content: start;
align-items: center;
background-color: rgba(54, 54, 54, 0.987);
border-radius: 5px;
height: 100%;
width: 100%;
min-width: 150px;




}
.logo-img{
    margin: 10px;
    height: 40px;
    border-radius: 5px;
    width:auto;
    background-color: rgba(33, 33, 33, 0.987) ;
}

@media only screen and (max-width: 900px) {
  .techStackContainer{

margin-top: 25px;
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
column-gap: 10px;
row-gap: 10px;



}


}

@media only screen and (max-width: 500px) {
  .techStackContainer{

margin-top: 25px;
display: grid;
grid-template-columns: 1fr 1fr ;
column-gap: 10px;
row-gap: 10px;


}

#techStackTitle{

    display: flex;
    flex-direction: row;
    justify-content: center;
}
}

